:root {
  --darkcyan: hsl(185, 75%, 39%);
  --darkblue: hsl(229, 23%, 23%);
  --darkgray: hsl(0, 0%, 59%);
  --darkgrayishblue: hsl(227, 10%, 46%);
}

body {
  padding: 1rem;
  font-family: "Kumbh Sans", "sans-serif";
  font-size: 1.125rem;
  color: var(--darkgray);
  background-color: var(--darkcyan);
  background-image: url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: top left;
}

main {
  height: 100svh;
  display: grid;
  place-content: center;
  margin-left: auto;
  margin-right: auto;
}

body:before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: url("../images/bg-pattern-top.svg") no-repeat bottom right;
  background-size: auto;
}

body:after {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: url("../images/bg-pattern-bottom.svg") no-repeat top left;
  background-size: auto;
}

.profile-card {
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: white;
  max-width: 330px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.profile-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.info {
  margin-top: -30px;
  text-align: center;
}

.profile-bio img {
  border-radius: 50%;
  border: 5px solid white;
  position: relative;
  top: -50px;
}

.place {
  font-size: 1rem;
}

.profile-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.bold:not(.info .bold),
.small {
  display: block;
}

.bold {
  font-weight: 700;
  color: var(--darkblue);
}

.small {
  font-size: 0.85rem;
}

/* MEDIA QUERIES */
@media screen and (min-width: 375px) {
  .profile-card {
    max-width: 375px;
  }

  .profile-stats {
    padding: 1.5rem 2rem;
  }
}
